{% extends 'front/base.html.twig' %}

{% block content %}
  <h2>Question</h2>
  <p>{{ question.text }}</p>
  <p>Options: {{ question.options }}</p>
  <p>Correct: {{ question.correctAnswer }}</p>
{% endblock %}
