<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}StudyCompanionPlus{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><circle cx=%2264%22 cy=%2264%22 r=%2264%22 fill=%22%230c1224%22/><text y=%2284%22 x=%2228%22 font-size=%2264%22 fill=%22%23ffd86b%22 font-family=%22Verdana%22>sc</text></svg>">
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% block body %}{% endblock %}
    </body>
</html>